<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465955678123-m30mtatg3c96htgdabnt8c6mjcuk7jjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465955678123-m30mtatg3c96htgdabnt8c6mjcuk7jjc</string>
	<key>API_KEY</key>
	<string>AIzaSyAkvlssASo4PnzIbAxLG6zschpCPU_OqZI</string>
	<key>GCM_SENDER_ID</key>
	<string>465955678123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yeonhoc5.MultiList</string>
	<key>PROJECT_ID</key>
	<string>multilist-ce31f</string>
	<key>STORAGE_BUCKET</key>
	<string>multilist-ce31f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465955678123:ios:a3ec04cf43bc5e8b07d4ee</string>
</dict>
</plist>