<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12354918139-g5umi720gjkdrd6vsa2cj9e4u5hg9hfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12354918139-g5umi720gjkdrd6vsa2cj9e4u5hg9hfg</string>
	<key>API_KEY</key>
	<string>AIzaSyDI1yOrjkmn9noUqe8KCeeX1LEkG_XsOF8</string>
	<key>GCM_SENDER_ID</key>
	<string>12354918139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yeonhoc5.MultiList</string>
	<key>PROJECT_ID</key>
	<string>multilist-87945</string>
	<key>STORAGE_BUCKET</key>
	<string>multilist-87945.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12354918139:ios:2c101b5371f51020ea825e</string>
	<key>DATABASE_URL</key>
	<string>https://multilist-87945-default-rtdb.firebaseio.com</string>
</dict>
</plist>